/* Perus sisältöasetukset */ 

html
{
    font-size: calc(1em + 1vw)
}

body 
{
    font-family: Arial, sans-serif, cursive;
    text-align: left;
    background-color: #1c4d41;
}
  
main 
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Tietokoneversion header */

header.dt
{
    width: 89.6vw;
    height: 11vw;
    padding: 1vw 0;
    padding-left: 2vw;
    margin-left: 10%;
    margin-right: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: #2e7a68;
    box-sizing: border-box;
    overflow: hidden;
}

img.headerdt
{
    max-width: 98%;    
    position: static;
}

/* Footer */

footer
{
    height: 3vh;
    width: 93.4vw;
    background-color: #2e7a68;
    color: #000000;
    text-align: center;
    font-size: 0.8rem;
    bottom: 0;
    position: absolute;
    padding-top: 0.5em;
    margin-left: 6%;
    margin-right: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Baloo Bhai', cursive;
}

/* Tietokoneversion navikointi */

nav.dt 
{
    height: 100%; 
    width: 12vw; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #2e7a68;
    border-right: 2px solid #245f51;
    overflow-x: hidden; 
    padding-top: 1.25em;
}


nav.dt a, .dropdown 
{
    max-width: 100%;
    padding: 0.375em 0.5em 0.375em 0.5em;
    text-decoration: none;
    font-size: 0.8rem;    
    color: #000000;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Baloo Bhai', cursive;
}

.dropdown
{
    background-color: #2e7a68;
}

.dropdown-con
{
    display: none;
    background-color: #36927d;
}

.dropnav
{
    background-color: #36927d;
}

.fa-angle-down 
{
    float: right;
    padding-left: 0.5em;
    padding-top: 0.3em;
}

nav.dt a:hover, .dropdown:hover 
{
    color: #000000;
    text-shadow:5px 3px 10px #34d889;
}

.activenav 
{
    background-color: #1c4d41;
}

/* Pääsisältö */

div.content
{
    float: left;
    width: 80vw;
    background-color: #1c4d41;
    margin-top: 11vw;
    margin-left: 22vw;
    margin-right: auto;
    /*padding-left: 1vw;*/
    position: fixed;
    box-sizing: border-box;
    overflow-x: hidden;
}

section.main
{
    float: left;
    max-width: 70vw;
    height: 60vh;
    background-color: #3ca38b;
    opacity: 0.8;
    margin: 1vw 0;
    margin-right: 2vw;
    padding: 1em;
    padding-top: 0.2em;
    border: 0.2em dotted #2e7a68;
    border-radius: 15px;  
    overflow: hidden;
    box-sizing: border-box;    
}

/* Portfolion asettelu ja nappulat */

.left
{
    width: 65vw;
    height: 70vh;
    float: left;
    background-color: #3ca38b;
    opacity: 0.8;
    margin-top: 1vw;
    margin-right: 1vw;
    padding: 0 0.5em 0.2em 1em;
    border: 0.2em dotted #2e7a68;
    border-radius: 15px;  
    overflow: hidden;
    box-sizing: border-box;
}

.right
{
    width: 39vw;
    max-height: 73vh;
    float: right;
    background-color: #3ca38b;
    opacity: 0.8;
    /* margin: 2vw 1vw; */
    padding: 0 0.5em 0.2em 1em;
    border: 0.2em dotted #2e7a68;
    border-radius: 15px;  
    overflow: hidden;
    box-sizing: border-box;
}

.title
{
    background-color: #3ca38b;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.PR
{
    background-color: #3ca38b;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.3em;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.PL:hover, .PR:hover
{
    text-decoration: underline;
}

#Acontent
{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.7em;
    color: #000000;
}

#Bcontent
{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.7em;
    color: #000000;
}
    
/* Esittelykuvan asettelu */

a.oma
{
    float: right;
    display: inline;
    margin-right: 0;
    box-sizing: border-box;
}

img.oma
{
    border: 2px solid white;
    max-width: 90%;
    box-sizing: border-box;
}

img.oma:hover
{
    opacity: 0.8;
}

/* Muiden kuvien asettelu */

a.muu
{
    margin-right: 0;
    box-sizing: border-box;
    position: relative;
}

img.muu
{
    border: 2px solid white;
    box-sizing: border-box;
}

img.muu:hover
{
    opacity: 0.8;
}

.pics
{
    clear: both;
    max-width: 90%;
    padding-left: 1em;
    padding-top: 1em;
}

/* Tekstien muotoilut */

h2
{
    color: #000000;
    padding-left: 0.5em;
    padding-top: 0;
    margin-bottom: 0.25em;
    font-size: 1.5em;
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
}

h3
{
    color: #000000;
    padding-left: 0.6em;
    font-size: 1em;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 1%;
}

p
{
    float: left;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.75em;
    padding-left: 1em;
    margin: 0.5em;
    color: #000000;
}

p.es
{
    float: left;
    margin: 0.5em;
    margin-right: 0;
    max-width: 50vw;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.75em;
    padding-left: 0.1em;
    color: #000000;
    overflow: auto;
}

h4.right
{
    float: left;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    color: #000000;
    border: none;
}

dl
{
    float: left;
    margin-top: 0.2em;
    padding-left: 0.5em;
}

/* Media-asetukset */ 

@media only screen and (max-width: 1030px)
{
   
    .fa-angle-down 
    {
        padding-left: 0.125em;
        display: inline-block;
    }
    
    .dropdown
    {
        text-align: left;
    }
    
    section.index
    {
        min-height: 30vw;
    }
}  

@media only screen and (min-width: 952px)
{
    header.mobile
    {
        display: none;
    }
    
    nav.mobile
    {
        display: none;
    }
}